<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
 </appSettings>
	<connectionStrings>
		<add name="GrievanceSystemConnectionString" connectionString="data source=172.20.10.6;initial catalog=GrievanceSystem;user id=BhavinServer;password=Bhavin@123;Timeout=180;" />
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
      </system.Web>
  -->
	<system.web>
		<httpHandlers>
   <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    validate="false" />
  </httpHandlers>
  <httpRuntime targetFramework="4.8" />
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<pages buffer="true" controlRenderingCompatibilityVersion="3.5"
   enableEventValidation="false" validateRequest="false" theme="Admin"
   viewStateEncryptionMode="Never" clientIDMode="AutoID">
   <controls>
    <add tagPrefix="ew" namespace="eWorld.UI" assembly="eWorld.UI, Assembly=2.0.0.2201" />
    <add tagPrefix="ucMessage" tagName="ShowMessage" src="~/UserControl/ShowInfo.ascx" />
    <add tagPrefix="ucHelp" tagName="ShowHelp" src="~/UserControl/ucHelp.ascx" />
    <add tagPrefix="ucFieldHelp" tagName="ShowFieldHelp" src="~/UserControl/ucFieldHelp.ascx" />
    <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
     assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
   </controls>
  </pages>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="ChartImg" path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
</configuration>